@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #3baaff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.hello__logo {
  height: 400px;
  z-index: 2;
}

.header {
  font-size: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.button__add {
  padding: 10px;
  width: 180px;
  color: black;
  font-size: 18px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  font-weight: bold;
  &:hover{
    background-color: rgb(219, 240, 255);
  }
}

.button__remove {
  margin-top: 15px;
  width: 180px;
  padding: 10px;
  color: white;
  background-color: rgba(128, 128, 128, 0);
  border: none;
  font-size: 14px;
  &:hover {
    color: rgb(219, 240, 255);
  }
}

.glass__counter{
  margin-top: 150px;
  margin-left: -35px;
  font-size: 130px;
  position: absolute;
  display:block;
  z-index: 3;
  color: black;
}
