@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

:root{
  --background-color: #3baaff;
  --icon: url('../assets/img/water-glass.svg');
  --buttonAdd:#fff;
  --button-Hover:rgb(219, 240, 255);
  --buttonRemovecolor:white;
  --removeColor:#fff;
  --header:#fff;
}

body {
  background:var(--background-color);
  color: var(--header);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

@keyframes glassWater{
  0%{
    transform:scale(1)
  }
  50%{
    transform:scale(1.10)
  }
  100%{
    transform:scale(1)
  }
}

.glass{
  display: flex;
  align-items: center;
  justify-content: center;
  background:var(--icon);
  width: 280px;
  height:280px;
  animation: glassWater 5s ease-in-out infinite;
  &__logo{
    height: 400px;
  }
  &__counter{
  font-size: 110px;
  color: black;
  }
}

.header {
  font-size: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.button__add {
  padding: 10px;
  width: 180px;
  color: black;
  font-size: 18px;
  border-radius: 3px;
  background-color: var(--buttonAdd);
  border: none;
  font-weight: bold;
  transition: transform 0.1s linear;
  transform-origin: center;
  &:hover{
    background-color: var(--button-Hover);
    transform:scale(1.15);
  }
}

.button__remove {
  margin-top: 15px;
  width: 180px;
  padding: 10px;
  color: var(--removeColor);
  background-color: rgba(128, 128, 128, 0);
  border: none;
  font-size: 14px;
  transition: transform 0.15s linear;
  transform-origin: center;
  &:hover {
    color: var(--button-Hover);
    transform: scale(1.15);
  }
}

.darkMode{
  size: 50px;
  margin-bottom: 120px;
  border:1px solid;
  outline: none;
  border-radius: 5%;
  background-color: rgba(51, 51, 51, 0);
  font-weight: bold;
  transition: transform 0.8s linear;
  &:hover{
    transform:scale(1.2);
  }
}

.description{
  color: #fff;
  width: 250px;
  height: 200px;
  position: absolute;
  display: inline;
  margin-right: 70%;
  font-style: arial;
  font-size: 20px;
  column-gap: 1px;
}

@media (max-width: 646px){
  .description{
    display: none;
  }
}